@import './header';
@import './suppliers';
@import './about';

html {
  font-size: 15px;
}

#app {
  max-width: 850px;
  margin: 0 auto;
}

.page-header {
  padding: 15px 0;

  h1 {
    margin: 0;
  }
}