.flex-container {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.center-justify {
    justify-content: center;
  }

  &.center-align {
    align-items: center;
  }

  &.flex-column {
    flex-direction: column;
  }
}
